{# templates/admin/val-commande.html.twig #}

{% extends "base-admin.html.twig" %}

{% block title %}Validation de la commande | {{ parent() }}{% endblock %}

{% block body %}

    {% block content%}

           <div class="container">
            <h1 class="text-primary mt-5">Validation de votre commande :
           </div>

        <div>
        
        </div>
    {% endblock %}

{% endblock %}